/* src/components/doctorNotesCreate/createDoctorNotes.module.css */

.createDoctorNoteContainer {
    max-width: 900px;
    margin: 4px 4px;
    padding: 24px;
    background-color: #d7e0a0c4;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #3333338a;
}

.noteForm {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.textarea {
    min-height: 550px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
}

.submitButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #4caf50;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #45a049;
}

.noteDetails {
    margin-top: 30px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}
