.doctorRegContainer {
    /* max-width: 630px; */
    width: 100%;
    margin: auto;
    padding: 10px;
    background: #f59c8c25;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.doctorForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.submitButton {
    padding: 10px;
    background: #007bff;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitButton:hover {
    background: #0056b3;
}

.error {
    color: red;
    font-size: 14px;
}
